<h1>About me:</h1>
<p>
	My name is Kamil Menšík.<br>
	I am 18 years old.<br>
	I love to programme.<br> 
	I am programming since i was 12, though I only made games in simple programming languanges like scratch and game maker.<br>
	But my passion for programming had never left me, so i kept trying to learn different languanges like Java or Python.<br>
	Now I am learning Ruby, which has charmed me with its simple and sometimes even funny syntax.<br><br>
	I also play table tennis.

</p>